body {
	font: 12px Georgia, Times, serif;
	color: #141414;
}

.card-shape {
	width: 320px;
	height: 500px;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 20px -10px black;
	background-color: #F0F8FF;
}

h3 {
	background: #27408B;
	text-transform: uppercase; 
	font: 15px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	padding: 10px;
	margin: 0px;
}

img {
	border: 1px solid lightgray;
	margin: 10px;
}

.content {
	margin: 0px 10px 10px;
	padding: 6px 10px 5px;
	border: 1px dashed lightgray;
	line-height: 140%;
	background-color: white;
}

.fact {
	font-style: italic;	
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

span {
	font-weight: bold;
}

